*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.navbar-brand{
    color: white;
}

.myhead{
    height: 56px;
    background-color: #632CB9;
}



.sect1{
    padding-top: 48px;
    height: 858px;
    background-position: right;
    background-image: url('https://images01.nicepage.com/c461c07a441a5d220e8feb1a/ef047784bc6a5cf2b81a76a6/robotgradientintro2.jpg');
}

.myfirst{
    font-size: 113px;
    color: white;
    font-weight: bolder;
}

.gty {
    font-size: 26px;
    color: white;
}

.sect2{
    height: 500px;
    background-color: whitered;
}

.mylog{
    /* height: 500px; */
    width: 100%;
    position: relative;
    bottom: 180px;
}


.shrek h2{
    color: #834496;
    font-size:80px;
    font-weight: 900;
}

.tit{
    height: 15px;
    width: 74%;
    background-color: #88FBFD;
    position: relative;
    bottom: 17px;
}


.inhuman{
    width: 600px;
    font-size: 19px;
    font-weight: 300;
}

.mybtn{
    height: 50px;
    width: 200px;
    background-color: white;
    border: 2px solid #55F9FC;
    color: #8C529E;
    font-weight: 700;
}

.sect3{
    height: 800px;
    background-image: url('https://images01.nicepage.com/c461c07a441a5d220e8feb1a/386402209ab35bf6ac892d8d/bggradient.jpg');
}

.picfr{
    height: 400px;
    position: relative;
    bottom: 170px;
    border-radius: 200px;
}

.picfg{
    height: 400px;
    position: relative;
    bottom: 80px;
}

.picsmk{
    height: 126px;
    position: relative;
    bottom: 268px;
    left: 280px;
}

.gb{
height: 200px;
}

.gba{
    height: 250px;
}

.secxy{
    height: 200px;
    background-color: #9cff93;
}

.secxy h2{
    color: #834496;
    font-size: 46px;
    font-weight: bolder;
}
